-----BEGIN CERTIFICATE-----
MIIEUDCCArigAwIBAgIUS3N1cjKxM9yWGxSnly/uJ9X8D08wDQYJKoZIhvcNAQEM
BQAwQDE+MDwGA1UEAww1ZmE2OGFiMjctYjY5Ny00ZjRlLThkNDEtMmUyODJkYzhk
NDg5IEdFTiAxIFByb2plY3QgQ0EwHhcNMjUwODI4MjMxODMzWhcNMzUwODI2MjMx
ODMzWjBAMT4wPAYDVQQDDDVmYTY4YWIyNy1iNjk3LTRmNGUtOGQ0MS0yZTI4MmRj
OGQ0ODkgR0VOIDEgUHJvamVjdCBDQTCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCC
AYoCggGBAKrM0Joux1FmVsKh6GMlxqJB59q+htrG27n42P+i2GChP/k1Qht2+DGQ
qNfArR6W+tj/hbaRGbdBJNgEvVsVbowdNc032JgLr/riGb7/ZdDCq0onyCc5WAGA
ScPph3M8zth1Lkb6TpTgxTrpWiUoKb8WU/qJEyhYOEZXF5fZBc+4tlbBDV46UbXU
h9YaGUu1fu9QOxZ31IoXlr9uEWi1D3Z18J0gsju6Zi9IcPOUUYU1U3C2AvYCbn7t
kgqtH8+KFaYUo1BZtm/olLk1ela/m2GG/vdB6V1Ddh7ASM4mQsI4EC4J6CZr5Cf+
axXqodj4iFNo8KYUSkkUJTUG/uzSyPLQBOPtbU5yJdLoXSp/RTZWs1SJdg1pf12P
BbO+50DjwuRZLEMI78XRL43wN/et6QtV098NltSj6hp/3G8b+7ibql439UfomNIv
JsZrWoPyCo87vzg2e2JCoI5aQMvbwFyD9q89eqtZBjAuyYw6hGXTlSPG6SMjYnnn
MZBnOskCkQIDAQABo0IwQDAdBgNVHQ4EFgQUSWEtxEAevlZn25D8BXypqjHp+g8w
EgYDVR0TAQH/BAgwBgEB/wIBADALBgNVHQ8EBAMCAQYwDQYJKoZIhvcNAQEMBQAD
ggGBAKIrNCC63TGv3qjbzRq8qVI9DmQKBZSv+TpIaBw9zh8bY2VaEhFC6Ex5EcC7
7ChtnFUw5XCx5SacEHaLOttZMS8ObCuzP+YlfGkpk2xNrGvn3ooCVhmjZnA1K5lu
kZWfajeha7zKlqdnORMQRvUmXlwWp6bTpeQnk4aHV3GAz71m5i/95nzBYhtRRFam
CUWGzrQrpWegoX5rVwFQOOkWj+WUio8OqubYT37FriAgFTu9/NXWTVt80dOQnml3
lP/tYy6hh+AxK1pe+wMyWTiKdDgFXMiDjOrl6OI8VunEyz+AO6cfOaBoJIRcCfJj
CIFnU3kjtEE5++Kb/YMmILAvXYpldpI/LNtERhxy+iUNXFoPFGp5Kv0O4g0zxzHi
GReGC8MDQdzXlj/jjgEoMNXdLtPUOWGVZOVnG7plqXZ8ckLCMfAOaNd/yeTL+Egi
GzzvSuVbfWo51LNUXuIbsf5x420lLcVq2SFx8W74B7SCRPc/xhlRAGC6lsxTJOnH
Ac3B8A==
-----END CERTIFICATE-----
